.movie-list-background {
  background-color: #f0f0f0;

}

.movie-list-container {
    width: 80%; /* Set to 70% of the screen width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
  }
  
  /* Movie list title */
  .movie-list-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Movie list */
  .movie-list-ul {
    list-style: none;
    padding: 0;
  }
  
  /* Movie list items (optional) */
  .movie-list-ul li {
    margin-bottom: 20px;
  }
  
  /* Apply additional styling as needed */
  